@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Mrs+Sheppards&display=swap');

@font-face {
	font-family: "Nohemi";
	src: url('../font/Nohemi-VF.ttf') format("opentype")
}


.mrs-sheppards-regular {
	font-family: "Mrs Sheppards", cursive;
	font-style: normal;
	line-height: 1;
}

.error {
	color: red;
	font-weight: bold;
}

.readonly {
	background-color: #b6b4b4;
}

.formulaire-inscription {
	margin-top: 100px;
}

.objet main {
	margin-top: 15px;
	margin-left: 15px;
}


.objet .center-main {
	display: flex;
	width: 100%;
	height: 300px;
	margin: auto;
}

.objet .center-section {
	margin: auto;
	text-align: center;
}


.objet nav li {
	font-size: 1.5em;
}

.objet table {
	font-family: Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 90%;
}

.objet table td, table th {
	border: 1px solid #ddd;
	padding: 8px;
}

.objet table tr:nth-child(even) {
	background-color: #f2f2f2;
}

.objet table tr:hover {
	background-color: #ddd;
}

.objet table th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #000000;
	color: white;
}

.objet table a:link, table a:visited {
	background-color: #f2f2f2;
	color: #2e2b2b;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}


.objet table a:hover, table a:active {
	background-color: #9dc3c3;
}

.objet form {
	background-color: #ebe5e5;
	margin: 100px;
	padding: 20px;
}


.flex-outer li {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin: 10px;
	border: 1px solid #d7cdcd;
	color: #353030;
	background-color: #e9e2e2;
	padding:5px;
}

.flex-outer li a li {
	background-color: #f6f4f4;
}

.flex-outer a li:hover {
	background-color: #e3c2c2;
}

.flex-outer>li select {
	flex: 1 0 220px;
}

.flex-outer>li>label {
	flex: 1 0 120px;
	max-width: 220px;
}

.flex-outer>li>label+* {
	flex: 1 0 220px;
}

li.bouton button {
	margin-left: auto;
	margin-bottom: 5px; padding : 8px 16px;
	border: none;
	background: #333;
	color: #f2f2f2;
	text-transform: uppercase;
	letter-spacing: .09em;
	border-radius: 5px;
}

 li.bouton a{
	margin-left: auto;
	margin-bottom: 5px; padding : 10px 16px;
	background: #333;
	color: #f2f2f2;
	text-transform: uppercase;
	letter-spacing: .11em;
	border-radius: 5px;
}

.placeholder input::placeholder  {
	font-weight: bold;
	opacity: 0.5;
	color: blue;
}


