@import url('https://fonts.googleapis.com/css2?family=Mrs+Sheppards&display=swap');

@font-face {
    font-family: "Nohemi";
    src: url('../font/Nohemi-VF.ttf') format("opentype")
}
.mrs-sheppards-regular {
    font-family: "Mrs Sheppards", cursive;
    font-style: normal;
    line-height: 1;
}

body {
    font-family: "Nohemi", sans-serif;
    font-optical-sizing: auto;
    min-height: 100vh;
    min-width: 100vw;
}

div.relative:has(input:focus) label {
    color: #171717;
}