<!DOCTYPE html>
<html lang="fr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml"

      th:replace="~{
                    layouts/layout :: layout-enchere(
					titrePage='Créer un article',
					contenuPage=~{:: main},
					ressourcesSupp=~{})
					}">

<main class="min-h-[100vh] bg-neutral-300 py-4 flex flex-col mt-20">
    <h1 th:text="#{article.view.h1}"
        class="text-4xl font-medium mb-10 text-center text-neutral-900"></h1>
    <div class="w-full px-5 mt-auto grid grid-cols-8" >
        <section class="lg:col-start-4 lg:col-end-6 col-span-8">
    <form  data-th-action="@{/creer_article}"
           data-th-object="${articleVendu}"
            method="post">

                <div class="w-full relative mb-4">
                    <div class="absolute top-0 -translate-y-3 ps-5">
                <label class="font-medium text-sm text-neutral-600 bg-neutral-300 px-2"
                       th:text="#{article.form.label-name}"
                       for="idNom"></label>
                    </div>
                <input class="border rounded-lg w-full px-2 py-1 pt-1.5" id="idNom" type="text"
                       th:placeholder="#{article.form.placeholder-name}"
                       data-th-field="*{nomArticle}" required />
                    <div data-th-replace="~{fragments/error/fragment-error :: frag-error('nomArticle')}"></div>
                </div>
                <div class="w-full relative mb-4">
                    <div class="absolute top-0 -translate-y-3 ps-5">
                <label class="font-medium text-sm text-neutral-600 bg-neutral-300 px-2"
                       th:text="#{article.form.label-description}"
                       for="idDescription"></label>
                    </div>
                <input class="border rounded-lg w-full px-2 py-1 pt-1.5"
                       id="idDescription"
                       type="text"
                       th:placeholder="#{article.form.placeholder-desc}"
                       data-th-field="*{description}" />
                </div>
            <div class="w-full relative mb-4">
                <div class="absolute top-0 -translate-y-3 ps-5">
                <label class="font-medium text-sm text-neutral-600 bg-neutral-300 px-2"
                       th:text="#{article.form.label-categorie}"
                       for="idCategorie"></label>
                    </div>
                <select class="border rounded-lg w-full px-2 py-1 pt-1.5"
                        id="idCategorie"
                        data-th-field="*{categorie.noCategorie}" >
                    <option data-th-each="item : ${categorieList}"
                            data-th-text="${item.libelle}"
                            data-th-value="${item.noCategorie}"></option>
                    <div data-th-replace="~{fragments/error/fragment-error :: frag-error('Categorie')}"></div>
                </select>
            </div>
                <label class="font-medium text-sm text-neutral-600 bg-neutral-300 px-2"
                       th:text="#{article.form.label-miseaprix}"
                       for="idMiseaprix"></label>
                <input class="border rounded-lg w-full px-2 py-1 pt-1.5"
                       id="idMiseaprix"
                       placeholder="0"
                       type="number"
                       min="1"
                       data-th-field="*{prixInitial}" required />
                <label class="font-medium text-sm text-neutral-600 bg-neutral-300 px-2"
                       th:text="#{article.form.label-debutenchere}"
                       for="idDebutEnchere">  : </label>
                <input class="border rounded-lg w-full px-2 py-1 pt-1.5"
                       id="idDebutEnchere"
                       type="date"
                       data-th-min="${today}"
                       data-th-field="*{dateDebutEncheres}" required/>
        <div data-th-replace="~{fragments/error/fragment-error :: frag-error('dateDebutEncheres')}"></div>
                <label class="font-medium text-sm text-neutral-600 bg-neutral-300 px-2"
                       th:text="#{article.form.label-finenchere}"
                       for="idFinEnchere"></label>
                <input class="border rounded-lg w-full px-2 py-1 pt-1.5" id="idFinEnchere"
                       type="date"
                       data-th-min="${today}"
                       data-th-field="*{dateFinEncheres}" required />
        <div data-th-replace="~{fragments/error/fragment-error :: frag-error('dateFinEncheres')}"></div>
                <br /><br />


            <h2 class="text-neutral-900 ms-5 font-bold hover:scale-110 p-2 pb-1.5" >Retrait </h2>

                    <label class="font-medium text-sm text-neutral-600 bg-neutral-300 px-2"
                           th:text="#{article.form.label-rue}"
                           for="idRetraitRue"></label>
                    <input class="border rounded-lg w-full px-2 py-1 pt-1.5"
                           id="idRetraitRue"
                           type="text"
                           data-th-placeholder="${userSession.rue}"
                           th:field="*{lieuRetrait.rue}" /></li>
                    <label class="font-medium text-sm text-neutral-600 bg-neutral-300 px-2"
                           th:text="#{article.form.label-cp}"
                           for="idRetraitCP"></label>
                    <input class="border rounded-lg w-full px-2 py-1 pt-1.5"
                           id="idRetraitCP" type="number"
                           data-th-placeholder="${userSession.codePostal}"
                           th:field="*{lieuRetrait.codePostal}" />
                    <label class="font-medium text-sm text-neutral-600 bg-neutral-300 px-2"
                           th:text="#{article.form.label-ville}"
                           for="idRetraitVille"></label>
                    <input class="border rounded-lg w-full px-2 py-1 pt-1.5"  id="idRetraitVille" type="text" data-th-placeholder="${userSession.ville}" th:field="*{lieuRetrait.ville}" />
        <div class="text-sm mb-8">
            <br/>
            <button class="bg-lime-200 w-full py-2 pb-1.5 hover:scale-110 font-semibold rounded-lg mb-5"
                    th:text="#{article.register}"
                    type="submit"></button>
            <br/>
            <button class="bg-neutral-900 text-neutral-300 hover:scale-110 py-2 pb-1.5 font-medium rounded-lg w-full block mb-4"
                    type="reset"
                    th:text="#{article.reset}"></button>
        </div>
    </form>
        </section>
    </div>
</main>
</body>
</html>