<!DOCTYPE html>
<html lang="en" >
</head>
<body>
    <main>
    <h2>Affichage Liste d'enchere</h2>
        <table>
            <thead>
            <tr>
                <th>Date de l'enchere</th>
                <th>Prix de l'enchere</th>
                <th>Nom de l'article</th>
                <th>Nom Encherisseur</th>
            </tr>
            </thead>
            <tbody>
                <tr data-th-each="enchere : ${encherelst}">
                    <td data-th-text="${enchere.dateEnchere}"></td>
                    <td data-th-text="${enchere.montantEnchere}"></td>
                    <td data-th-text="${enchere.articleConcerne.nomArticle}"></td>
                    <td data-th-text="${enchere.encherisseur?.nom+' '+enchere.encherisseur?.prenom}"></td>
                    <td><button><a>encherir</a></button></td>
                </tr>
            </tbody>
        </table>

        <h2>Afficher toutes les encheres d'un utilisateur</h2>
        <ul data-th-each="util : ${utilisateurslst}">
            <li data-th-text="${util.prenom}"></li>
            <li data-th-text="${util.nom}"></li>
            <li data-th-text="${util.pseudo}"></li>
        <li><a data-th-href="@{/encheres/listEnchereU(idUser = ${util.noUtilisateur})}">Detail enchere</a></li>
        </ul>
    </main>

</html>