<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Liste Article</h2>
<ul data-th-each="article : ${aVendus}">
    <li data-th-text="${article.nomArticle}"></li>
    <li data-th-text="${article.prixVente}"></li>
    <li data-th-text="${article.dateDebutEncheres}"></li>
    <li data-th-text="${article.dateFinEncheres}"></li>
    <li data-th-text="${article.utilisateur.pseudo}"></li>
    <li data-th-text="${article.lstEncheres}"></li>
    <li><button><a>encherir</a></button></li>
</ul>
</body>
</html>