<!DOCTYPE html>
<html lang="fr"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{
                    layouts/layout :: layout-enchere(
					titrePage='Erreur - Eni Encheres',
					contenuPage=~{:: main},
					ressourcesSupp=~{})
					}">
<main class="bg-neutral-300 rounded-b-lg min-h-[93vh] grid grid-cols-12">
    <section class="my-auto px-5 lg:col-start-4 lg:col-end-10 col-span-12">
        <div class="text-center mb-5 pb-5 relative" th:switch="${status}">
            <h3 th:text="#{error.template.h3}"
                class="font-black"></h3>
            <div th:case="*" class="relative">
                <h1 th:text="${status}"
                    class="text-9xl  font-black"></h1>
                <span class="absolute top-0 start-0 w-full text-center text-lime-200 translate-2 text-9xl font-black"
                      th:text="${status}"></span>
                <h6 th:text="#{${'error.' + status + '.title'}}"
                    class="text-sm font-bold"></h6>
                <p th:text="#{${'error.' + status + '.content'}}"
                   class="text-sm font-bold"></p></div>
            <a href="/"
               class="mx-auto mt-4 block w-fit text-sm">
                <div th:text="#{error.template.home}"
                     class="transition duration-400 px-5 w-fit btn bg-neutral-900 hover:bg-neutral-700 hover:scale-110 text-neutral-300 lg:px-5 p-2 pb-1.5 font-bold rounded-sm flex items-center gap-1"></div>
            </a>
        </div>
    </section>
</main>
</html>