<!DOCTYPE html>
<html data-th-replace="~{layouts/layout :: layout-enchere(
					titrePage=~{:: title},
					contenuPage=~{:: main},
					ressourcesSupp=~{})}">
<head>
    <title>Eni Enchere</title>
</head>
<body>
<main class="bg-neutral-200 rounded-b-lg min-h-[93vh]">
    <section class="pt-30 px-5">
        <h1 th:text="#{index.form.h1}"
                class="text-4xl font-medium mb-5 text-neutral-900">
            Filtre</h1>

        <!-- CODE HORRIBLE A SUPPRIMER PLUS TARD  -->

        <ul>
            <li><a href="/list_articles">Voir les articles que j'ai mis en vente</a></li>
        </ul>
        <br />
        <br />
        <br />

        <!-- FIN DU CODE A SUPPRIMER  -->

        <form action="">
            <div class="w-full relative mb-4">
                <div class="absolute top-0 -translate-y-3 ps-5">
                    <label th:text="#{index.label.categ}"
                           for="categorie"
                           class="control-label text-neutral-600 font-medium text-sm text-neutral-600 bg-neutral-200 px-2"></label>
                </div>
                <select name="categorie"
                        id="categorie"
                        class="border border-neutral-600 rounded-lg w-full p-2 pt-2.5">
                    <option th:text="#{index.option.default}"></option>
                </select>
            </div>

            <div class="w-full relative mb-3">
                <div class="absolute top-0 -translate-y-3 ps-5">
                    <label th:text="#{index.label.search}"
                           for="recherche"
                           class="control-label text-neutral-600 font-medium text-sm text-neutral-600 bg-neutral-200 px-2"></label>
                </div>
                <input type="text"
                       name="recherche"
                       id="recherche"
                       class="border border-neutral-600 rounded-lg w-full px-2 py-1 pt-1.5" required>
            </div>
            <div class="text-sm mb-8">
                <button th:text="#{index.form.submit}"
                        class="bg-neutral-900 text-neutral-200 w-full py-2.5 pb-2 font-semibold rounded-lg"></button>
            </div>
        </form>
    </section>
    <a href="/encheres/list_enchere">liste Enchere</a><br>
    <a href="/encheres/listeArticleEnchere">liste Article</a><br>
</main>
</body>
</html>